.frames_container {
  padding: 14px 0;
}
.sticker-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 20px auto;
}
.sticker {
  width: 70px;
  height: 70px;
}
.sticker-container img {
  width: 100%;
  height: 100%;
}
