.template_container {
  /* margin-left: 145px; */
  /* background-color: red; */

  display: flex;

  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.template_container .heading {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 13px 22px 0 5px !important;
}
.template_container {
  width: 90%;
  margin: auto;
  text-align: left;
}
.template_container .categories-div-panel,
.recent-designs{
  padding-left: 6px;
}
.template_container .category {
  border-radius: 2px;
  width: 90px;
  margin: 3px;
  height: 20px;
  display: inline-block;
  border: 0.5px solid #eaeaea;
  background: #081a26;
}
.template_container .category p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  padding-top: 5px;
  color: #eaeaea;
}
.designs {
  text-align: left;
  display: inline-block;
  background: #d9d9d9;
  opacity: 0.85;
  width: 90px;
  margin: 3px 0 0 6px;
  height: 105px;
}
