.navbar {
  background: #003459;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 25px;
  height: 10vh;
  color: #fff;
  position: sticky;
  top: 0;
}
.navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .icon {
  font-size: 1.9rem;
  margin-left: 15px;
}
.navbar .icons {
  font-size: 1.5rem;
  margin-left: 5px;
}
.diy-title input {
  border: none;
  padding: 2px;
  text-align: center;
  outline: none;
  background: #003459;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-panel {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  visibility: hidden;
  background: #fff;
  z-index: 9999900;
  width: 0px;
  transition: all 0.4s linear;
  /* border-radius: 10px 0 0 10px; */
}

.active .nav-panel {
  width: 170px;
  visibility: visible;
  /* border-right: 1px solid black; */
  transition: all 0.5s linear;
}
.nav-panel .icon {
  font-size: 1.9rem;
  text-align: right;
  margin-left: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.nav-panel .panel {
}
.nav-panel .links {
  margin-top: 10px;
  padding-left: 15px;
}
.nav-panel .links li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  list-style: none;
  color: #3a3a3a;
}
.nav-panel .nested-list {
  margin-left: 25px;
  height: 0px;
  visibility: hidden;
  transition: all 0.4s linear;
}
.show-nested .nested-list {
  height: 100px;
  visibility: visible;
  color: #003459;
  /* border-right: 1px solid black; */
  transition: all 0.5s linear;
}
.nav-panel .nested-list li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  color: #3a3a3a;
}
