.navbar {
  background: #003459;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 25px;
  height: 10vh;
  color: #fff;
  position: sticky;
  top: 0;
}
.navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .icon {
  font-size: 1.9rem;
  margin-left: 15px;
}
.navbar .icons {
  font-size: 1.5rem;
  margin-left: 5px;
}
.diy-title input {
  border: none;
  padding: 2px;
  text-align: center;
  outline: none;
  background: #003459;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-panel {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  visibility: hidden;
  /* display: none; */
  background: #fff;
  z-index: 9999900;
  width: 0px;
  transition: all 0.4s linear;
  /* border-radius: 10px 0 0 10px; */
}

.active .nav-panel {
  width: 170px;
  visibility: visible;
  /* display: block; */
  /* border-right: 1px solid black; */
  transition: all 0.5s linear;
}
.nav-panel .icon {
  font-size: 1.9rem;
  text-align: right;
  margin-left: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.nav-panel .panel {
}
.nav-panel .links {
  display: none;
  margin-top: 10px;
  padding-left: 15px;
}
.active .links {
  display: block;
}
.nav-panel .links li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  list-style: none;
  color: #3a3a3a;
}
.nav-panel .nested-list {
  margin-left: 25px;
  height: 0px;
  visibility: hidden;
  transition: all 0.4s linear;
}
.show-nested .nested-list {
  height: 100px;
  visibility: visible;
  color: #003459;
  /* border-right: 1px solid black; */
  transition: all 0.5s linear;
}
.nav-panel .nested-list li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  color: #3a3a3a;
}
.user-account {
  position: relative;
}
.user_panel {
  position: fixed;
  top: 55px;
  right: 20px;
  text-align: left;
  visibility: hidden;
  width: 0px;
  transition: all 0.4s linear;
  display: flex;
  padding: 15px 10px;
  /* box-sizing: border-box; */
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: space-between !important;
  border: 1px solid #3a3a3a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 9999900;
  background-color: #ffffff;
  height: 204px;
  opacity: 0;
}
.toggle .user_panel {
  width: 148px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s linear;
}
.user_panel .userName {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #003459;
}
.user_panel .links {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3a3a3a;
}
.user-account .cart-icon {
  position: relative;
  /* background-color: green; */
}
.user-account .cart-icon a {
  color: #fff;
}
.user-account .item-count {
  background: #ff6b00;
  position: absolute;
  top: 0;
  right: -5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
