.rightSide {
  /* position: absolute; */
}
.right-panel {
  height: 598px;
  position: fixed;
  top: 122px;
  right: 0;
  background: rgba(0, 52, 89, 0.89);
  width: 20px;
  transition: all 0.4s linear;
  border-radius: 10px 0 0 0;
}

.active .right-panel {
  width: 140px;
  transition: all 0.5s linear;
}

.right_panel_btn {
  position: absolute;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 20px;
  height: 81px;
  left: -20px;
  top: 310px;

  background: rgba(0, 52, 89, 0.89);
  border-radius: 20px 0 0 20px;
}
.right_panel_btn .icon {
  font-size: 1.6rem;
  color: #fff;
}
.right_items {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 10px;
  height: 600px;
}
.right_item {
  width: 80%;
  height: 70px;
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #003459;
  border-radius: 15px;
  color: #003459;
  font-size: 1.2rem;
  display: none;
}
.active .right_item {
  display: block;
}
.active .right_items {
  width: 140px;
}
