.right-panel {
  height: 650px;
  position: fixed;
  top: 17.2vh;
  right: 0;
  width: 117px;
  overflow-y: scroll;
  background: #d9d9d9;
}

.right_items {
  display: flex;
  /* background: rgba(0, 52, 89, 0.89); */
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* width: 100%; */
  height: 600px;
  overflow-y: scroll;
}
.right_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 81px;
  height: 109px;
  left: 1161px;
  top: 114px;
  margin-top: 15px;
  /* ICON COLOR 2 */

  background: #f1f1f1;
  /* Secondary Box */

  border: 1px solid #3a3a3a;
  /* display: none; */
}
.right_items .item {
  width: 81px;
  height: 109px;
}
